{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": []
}
