.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  border: none;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

button:disabled {
  opacity: 0.5;
}

button:hover:not(:disabled) {
  opacity: 0.8;
}

.qr-code-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-label {
  margin-top: 20px;
  font-size: 16px;
}

.toast {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.user-info {
  margin-bottom: 30px; /* Adjust as needed */
}

.cast-container {
  display: flex;
  justify-content: center; /* This will center the child items horizontally */
  align-items: end; /* or 'center' if you want the button vertically centered */
  gap: 10px; /* Space between textarea and button */
}

.cast-textarea {
  width: 50%;
  padding-right: 10px;
}

.cast-button {
  display: inline-block;
  /* Other styles you might want to add */
}
