@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}


.parenthetical-list-style {
  list-style: none;
  counter-reset: custom-counter;
}

.parenthetical-list-style li {
  margin-bottom: 4px;
}

.parenthetical-list-style li::before {
  content: counter(custom-counter) ") ";
  counter-increment: custom-counter;
}